* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

.dataGridBackground {
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.loadingBtn {outline: 0}

.lyricsPlayer {
  display: block;
  background-color: #192f1f;
  height: 460px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.c-player--details .details-img img {
  display: block;
  margin: 50px auto;
  width: 150px;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img:after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  border: 3px dashed #1db954;
}

.c-player--details .details-title {
  color: #EEE;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 10px;
}

.c-player--details .details-artist {
  color: #AAA;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 40px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #1db954;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}


.Footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0; /* Now it will stick to bottom */
  height: 135px;
  width: 100%;
  background-color: #000;
  padding-left: 250px;
  padding-right: 250px;

}

.footer__left {
  /* border: 2px solid red; */
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
}

.footer__albumLogo {
  height: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.footer__songinfo {
  display: flex;
  flex-direction: column;

  min-width: 110px;
}

.footer__songinfo > h4 {
  margin-top: px;
  font-size: 18px;
  font-weight: 400;
}
.footer__songinfo > p {
  font-size: 12px;
  margin-top: 10px;
  color: gray;
}
.footer__center {
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 ;
}
.footer__green {
  color: #1ed15e;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.25;
  margin-right: 50px;
}

.footer__right__slider {
  color: #1ed15e !important;
  padding-left: 5px !important;
  width: 100% !important;
}

.footer__right__playlistIcon {
  padding-right: 10px !important;
}
